*{
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    display: flex;
    justify-content: center;
  }
  
  body{
    margin:0;
    background-color: #FDFFFA;
  }

  #todolistView{
    display: flex;
    justify-content: center;
  }

  form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 15px 0;
    background-color: #FFF;
    border-radius: 5px;
    filter: drop-shadow(1px 5px 6px rgba(187, 187, 187, 0.8));
  }

  #insert-list{
    display: flex;
    font-size: 16px;
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #DDD;
  }

  .inputBtnWrapper{
    display:flex;
    flex-direction: row;
    width: 100%;
    margin: 0 15px
  }

  .addBtn{
    display: flex;
    width: 75px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #b7ddb0;
    border: 1px solid #b7ddb0;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;

  }
  .addBtn:hover{
    display: flex;
    width: 75px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #5aac44;
    border: 1px solid #5aac44;
    border-radius: 5px;
  }

  .addBtnIcon{
    color:#3f6f21;
  }

  #todolist{
    width: 50%;
    padding: 0;
  }

  .formWrapper{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .listItem{
    display: flex;
    padding: 15px;
    background-color: #FFF;
    border-radius: 5px;
    filter: drop-shadow(1px 5px 6px rgba(187, 187, 187, 0.8));
    margin: 15px 0;
    transition: all 0.4s ease-out;
    opacity: 0;
  }

 .listItem.show {
    opacity: 1;
  }

  .listItem.completedActivity{
    background-color: #d6ecd2;
    filter:none;
  }

  .listTextWrapper{
    width:85%;
  }

  .listActivity{
    display:flex;
    padding: 5px 0;
    margin-bottom: 5px;
    word-wrap:break-word
  }

  .listDate{
    display:flex;
    font-size:12px;
    
  }

  .listCompletedDate{
    display:flex;
    font-size:12px;
  }

  .listCompletedDate::before{
    display:flex;
    font-size:12px;
    margin-right: 3px;
    content: 'Completed at';
  }
  

  
  .listBtnWrapper{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fa-solid.fa-check{
    display:flex;
    width:33%;
    justify-content:center;
  }

  .fa-solid.fa-pencil{
    display:flex;
    width:33%;
    justify-content:center;
  }

  .fa-solid.fa-trash{
    display:flex;
    width:33%;
    justify-content:center;
  }

  .fa-solid.fa-x{
    display:flex;
    width:33%;
    justify-content:center;
  }

  .completed{
    text-decoration: line-through;
    transition: 300ms;
  }

  @keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: #000; }
  }
  
  .strike {  
    text-decoration: line-through;
    animation: strike 0.4s linear;
  }

  .invisible{
    visibility:hidden;
  }

  .hide{
    display:none !important;
  }

  #edit-input{
    display: flex;
    font-size: 16px;
    width: 90%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px #DDD;
  }