*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin:0;
  background-color: #FDFFFA;
}

.todo-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#activities-scheduled{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.active-activity{
  display: flex;
  margin: 10px;
  padding: 15px;
  background-color: #FFF;
  filter: drop-shadow(1px 5px 6px rgba(187, 187, 187, 0.8));
  border-radius: 5px;
  max-width: 100%;
  height: 40px;
  flex-basis: content;
}

.activity-text{
  display:flex;
  width: 70%;
  align-items: center;
}

i.fa-solid.fa-check{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #d6ecd2;
  border-radius: 25%;
  margin: auto;
  color:#49852e;
}

i.fa-solid.fa-pencil{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #faf3c0;
  border-radius: 25%;
  margin: auto;
  color:#cca42b;
}

i.fa-solid.fa-trash{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #f5d3ce;
  border-radius: 25%;
  margin: auto;
  color:#933b27;
}

i.fa-solid.fa-x{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #f5d3ce;
  border-radius: 25%;
  margin: auto;
  color:#933b27;
}



.invisible{
    visibility:hidden;
}

.completed{
  text-decoration: line-through
}

