*{
  font-family: 'Montserrat', sans-serif;
}

body{
  margin:0;
  background-color: #FDFFFA;
}

.todo-list{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#activities-scheduled{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.invisible{
    display:none
}

.completed{
  text-decoration: line-through
}

